*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100%;
    background-color: rgb(188, 241, 188);
}
#pannel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius:10px;
}
#ptop{
    padding: 0px 30%;
    
    justify-content: space-between;
    display: flex;
    color: #fff;
    align-items:center;
    width:100%;
    height:100px;
    background-color: rgb(102, 170, 102);
}

.elem{
    display:flex;
    align-items: center;
    gap: 20px;
    /* background-color: red; */
}
.elem h2{
    font-weight:500;
    font-size: 22px;
    
    

}
.box{
    color:rgb(55, 148, 55);
    font-weight: 600;
    font-size: 22px;
    padding:10px 20px;
    background-color: #fff;
    border-radius:5px;
}
#pbtm{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    flex-wrap:wrap;
    gap: 10px;
    padding: 20px;
    width:100%;
    height: calc(100% - 100px);
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(86, 102, 86);
    color: #fff;
    border-radius: 50%;
    font-weight: 500;
}
.bubble:hover{
    cursor: pointer;
    background-color: rgb(30, 50, 30);
}
